@import '../Theme';

.tile {
  width: 40vmin;
  max-width: 25vh;
  display: inline-block;
  margin-left: 1em;
  text-align: center;
  white-space: normal;
  &:last-child {
    margin-right: 1em;
  }
  .tile-grid {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    position: relative;
    .inner {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .image {
      height: 40vmin;
      max-height: 25vh;
      display: block;
      width: 100%;
      background-size: cover;
    }
    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .primary, .secondary {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .primary {
        margin: 0.25em;
      }
      .secondary {
        font-size: 0.875em;
        color: $color-primary-2;
      }
    }
  }
}
